.divExt{
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
  }
  .container_centralizado{
    vertical-align: middle;
    display: table-cell;
    position: relative;
  }
  .centralizado{
    width: 400px;
    height: 150px;
    vertical-align: middle;
    margin: 0 auto;
  }