<p *ngIf="!authService.isLoggedIn">Você precisa estar logado para ver este conteúdo!</p>

<div class="divExt" *ngIf="authService.isLoggedIn">
    <div class="container_centralizado">
        <div class="centralizado" style="text-align: center;">
        <div>
            <p>Você está logado!</p>
            <p *ngIf="!message">{{ message | async | json }}</p>
            <button  class="brk-btn" (click)="authService.logout()">Logout</button>
        </div>
        </div>
    </div>
</div>