  .divExt{
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
  }
  .container_centralizado{
    vertical-align: middle;
    display: table-cell;
    position: relative;
  }
  .centralizado{
    width: 400px;
    height: 150px;
    vertical-align: middle;
    margin: 0 auto;
  }
  
  /** Aqui para baixo é só para fins de estilização, favor ignorar **/
  
  .centralizado{
    color: white;
  }
  .centralizado div{
    width: 100%;
    display: block;
    text-align: center;
    font-family: arial;
  }
  .centralizado input[type="text"], .centralizado input[type="password"]{
    width: 100%;
    height: 3em;
    margin: 5px 0;
    outline: none;
    border: 2px solid #e6e6e6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  .centralizado input[type="text"]:focus, .centralizado input[type="password"]:focus{
    border: 2px solid #047eb9;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  