<div class="divExt">
  <div class="container_centralizado">
    <div class="centralizado">
      <div>
        <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
          <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
          <button  class="brk-btn"  (click)="authService.login(userEmail.value, userPassword.value)">Login</button>
      </div>
    </div>
  </div>
</div>